<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" shrink-to-fit="no" />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Steganography</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:300,400,500,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/styles.css" />
</head>
<body>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
